<h2>Flights from <%= @flights.first.origin %> to <%= @flights.first.destination %></h2>


<div class="row">
  <div class="col col-xs-12 col-sm-8 col-sm-offset-2">
    <% if @flights.empty? %>
      <h1>Sorry we don't have any result</h1>
    <% else %>
      <% unless @message.empty? %>
        <h2><%= @message %></h2>
      <% end %>
      <% @flights.each do |flight| %>
        <div>
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://cdn.justluxe.com/articles/images/news/1996079_jetsmarterc.jpg');">
            <p><%= link_to "SELECT", flight_path(flight), class: "book btn btn-select" %><p>
              <div class="card-category"><%= flight.user.username %>'s<%= flight.jet.plane_model %></div>
              <div class="card-description">
                <h2>Total Price: <%= flight.price %>RMB</h2>
              </div>
              <p><%= flight.departure.strftime("%e %b %Y %H:%M%p") %> <%= flight.origin %></p>
              <p><%= flight.arrival.strftime("%e %b %Y %H:%M%p") %> <%= flight.destination %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>


