
<div class="row">
  <div class="col col-ms-4 col-sm-offset-2">
    <h1>New Flight</h1>
    <%= simple_form_for @flight do |f| %>
      <%= f.input :jet, collection: @jets %>
      <%= f.input :origin %>
      <%= f.input :destination %>
      <%= f.input :departure %>
      <%= f.input :arrival %>
      <%= f.input :destination %>
      <%= f.input :capacity, collection: 1..10 %>
      <!-- ideally this should be no more than the jet capacity -->
      <%= f.input :price %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>
