<h1>Flights#new</h1>

<%= simple_form_for @flight do |f| %>
  <%= f.select, %>
  <%= f.input :origin %>
  <%= f.input :destination %>
  <%= f.input :departure %>
  <%= f.input :arrival %>
  <%= f.input :destination %>
  <%= f.button :submit %>
<% end %>
