<h1>Model <%= @flight.jet.plane_model %></h1>
<h2>departure date <%= @flight.departure %></h2>
<h2>arrival date <%= @flight.arrival %></h2>
<h2>origin <%= @flight.origin %></h2>
<h2>destination <%= @flight.destination %></h2>

<h2>the reviews</h2>
<% @reviews.each do |r| %>
  <p>r.ambiance_rating</p>
  <p>r.service_rating</p>
  <p>r.description</p>
<% end %>

<%= link_to "confirm and pay", bookings_new_path %>

<div id="map" style="width: 100%; height: 600px;"></div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    var handler = Gmaps.build('Google');
    handler.buildMap({ internal: { id: 'map' } }, function() {
      markers = handler.addMarkers(<%= raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      if (markers.length == 0) {
        handler.getMap().setZoom(2);
      } else if (markers.length == 1) {
        handler.getMap().setZoom(14);
      }
    });
  <% end %>
<% end %>
