<div class="row">
  <div class="col col-xs-12 col-sm-8 left_side">
    <!-- display the flight info -->
    <h1><%= @flight.origin %> &#8594; <%= @flight.destination %></h1>
    <h2><%= @flight.departure.strftime('%a, %d %b') %></h2>
    <p><%= @flight.user.username %>'s <%= @flight.jet.plane_model %></p>
    <p>Departing <%= @flight.origin %> at <%= @flight.departure.strftime('%I:%M %p') %></p>
    <p>Arriving in <%= @flight.destination %> at <%= @flight.arrival.strftime('%I:%M %p') %></p>

    <!--start to calculate avg rating -->
    <% unless @reviews.empty? %>
      <% am_rating_arr = @reviews.map { |review| review.ambiance_rating } %>
      <% am_rating_avg = (am_rating_arr.reduce(:+) / am_rating_arr.length.to_f).round(2) %>
      <% puts am_rating_avg %>
      <% ser_rating_arr = @reviews.map { |review| review.service_rating } %>
      <% ser_rating_avg = (ser_rating_arr.reduce(:+) / ser_rating_arr.length.to_f).round(2) %>
      <% puts ser_rating_avg %>
    <% end %>


    <div id="map" style="width: 100%; height: 600px;"></div>

      <% content_for(:after_js) do %>
      <%= javascript_include_tag "https://maps.google.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>
      <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/markerclusterer/src/markerclusterer_compiled.js" %>
      <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js" %>
        <%= javascript_tag do %>
          var handler = Gmaps.build('Google');
          handler.buildMap({ internal: { id: 'map' } }, function() {
            markers = handler.addMarkers(<%= raw @hash.to_json %>);
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
            if (markers.length == 0) {
              handler.getMap().setZoom(2);
            } else if (markers.length == 1) {
              handler.getMap().setZoom(14);
            }
          });
        <% end %>
      <% end %>

      <%= link_to "Book Now", new_flight_booking_path(@flight), class: "btn btn-danger btn-lg"%>
  </div>
  <div class="col col-xs-12 col-sm-4">
    <!-- overall ratings display -->
    <% unless @reviews.empty? %>
      <h2>Overall Rating <%= (am_rating_avg + ser_rating_avg).round(2) %>/10</h2>
      <h5>Ambiance:
        <!-- generating the stars -->
        <% 5.times do |x| %>
          <% if am_rating_avg >= (x + 1) %>
            <i class="fa fa-star" aria-hidden="true"></i>
          <% elsif am_rating_avg < (x + 0.5) && am_rating_avg > x %>
            <i class="fa fa-star-half-o" aria-hidden="true"></i>
          <% elsif am_rating_avg >= (x + 0.5) %>
            <i class="fa fa-star" aria-hidden="true"></i>
          <% else %>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          <% end %>
        <% end %>
        <!-- stars generated -->
      </h5>

      <h5>Service:
      <!-- generating the stars -->
        <% 5.times do |x| %>
          <% if ser_rating_avg >= (x + 1) %>
            <i class="fa fa-star" aria-hidden="true"></i>
          <% elsif ser_rating_avg < (x + 0.5) && ser_rating_avg > x %>
            <i class="fa fa-star-half-o" aria-hidden="true"></i>
          <% elsif ser_rating_avg >= (x + 0.5) %>
            <i class="fa fa-star" aria-hidden="true"></i>
          <% else %>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          <% end %>
        <% end %>
        <!-- stars generated -->
      </h5>
    <% else %>
      <h2>Overall Rating 0/10</h2>
    <% end %>


    <!-- reviews display -->
    <% unless @reviews.empty? %>
      <h3>Look at reviews left by others!</h3>
      <% @reviews.each do |r| %>
      <div class="card review" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://cdn.justluxe.com/articles/images/news/1996079_jetsmarterc.jpg');">
        <div class="card-category"></div>
        <div class="card-description">
          <p><%= r.user.email %></p>
          <p>Ambiance:
            <% 5.times do |x| %>
              <% if x < r.ambiance_rating %>
                <i class="fa fa-star" aria-hidden="true"></i>
              <% else %>
                <i class="fa fa-star-o" aria-hidden="true"></i>
              <% end %>
            <% end %>
          </p>
          <p>Service:
              <% 5.times do |x| %>
                <% if x < r.service_rating %>
                  <i class="fa fa-star" aria-hidden="true"></i>
                <% else %>
                  <i class="fa fa-star-o" aria-hidden="true"></i>
                <% end %>
              <% end %>
          </p>
          <p><%= r.description %></p>
        </div>
        </div>
      <% end %>
    <% else %>
      <h2>No one has left a comment</h2>
    <% end %>

  </div>
</div>

