<div class="navbar-wagon">
  <!-- Logo -->


  <%= link_to root_path, class: "navbar-wagon-brand" do %>

  <svg width="136px" height="50px" viewBox="0 0 544 156" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="Artboard" transform="translate(-14.000000, -53.000000)" fill="#F4F4F4">
              <path d="M14,159 L450.511405,159 L446.833333,174.583259 L451.265625,174.34442 C451.265625,174.368304 452.559375,174.177232 453.014583,173.771205 L460.872917,161.375446 C461.519792,160.826116 461.591667,160.014062 462.645833,160.229018 C470.552083,161.877009 485.454167,161.542634 487.107292,161.63817 C488.760417,161.733705 488.185417,163.620536 488.185417,163.620536 L485.166667,178.428571 L473.498958,209 C479.248958,209 479.847917,208.092411 480.854167,206.754911 L512.239583,163.142857 C512.239583,163.142857 526.614583,161.972545 539.288542,161.972545 C545.158333,161.972545 558,159.154241 558,155.5 C558,151.845759 544.966667,149.027455 539.288542,149.027455 C527.261458,149.027455 512.239583,147.857143 512.239583,147.857143 L480.854167,104.245089 C479.65625,102.54933 479.009375,102 473.498958,102 L485.166667,132.571429 L488.185417,147.35558 C488.185417,147.35558 488.760417,149.242411 487.107292,149.337946 C485.454167,149.433482 470.552083,149.051339 462.645833,150.747098 C461.591667,150.962054 461.519792,150.15 460.872917,149.60067 L453.014583,137.204911 C452.559375,136.798884 451.265625,136.607812 451.265625,136.607812 L446.833333,136.368973 L450.286652,151 L413.637331,151 C414.121328,150.76859 414.588884,150.515257 415.04,150.24 C416.613341,149.279995 417.893328,148.013341 418.88,146.44 C419.866672,144.866659 420.36,142.933345 420.36,140.64 C420.36,138.133321 419.853338,136.160007 418.84,134.72 C417.826662,133.279993 416.546674,132.146671 415,131.32 C413.453326,130.493329 411.786676,129.880002 410,129.48 C408.213324,129.079998 406.546674,128.693335 405,128.32 C403.453326,127.946665 402.173338,127.493336 401.16,126.96 C400.146662,126.426664 399.64,125.573339 399.64,124.4 C399.64,122.959993 400.253327,121.920003 401.48,121.28 C402.706673,120.639997 403.959994,120.32 405.24,120.32 C408.386682,120.32 410.893324,121.626654 412.76,124.24 L419.16,118.48 C417.613326,116.346656 415.586679,114.840004 413.08,113.96 C410.573321,113.079996 408.040013,112.64 405.48,112.64 C403.55999,112.64 401.666676,112.879998 399.8,113.36 C397.933324,113.840002 396.280007,114.586662 394.84,115.6 C393.399993,116.613338 392.240004,117.906659 391.36,119.48 C390.479996,121.053341 390.04,122.906656 390.04,125.04 C390.04,127.493346 390.546662,129.413326 391.56,130.8 C392.573338,132.186674 393.853326,133.266663 395.4,134.04 C396.946674,134.813337 398.613324,135.373332 400.4,135.72 C402.186676,136.066668 403.853326,136.439998 405.4,136.84 C406.946674,137.240002 408.226662,137.759997 409.24,138.4 C410.253338,139.040003 410.76,140.02666 410.76,141.36 C410.76,142.10667 410.560002,142.759997 410.16,143.32 C409.759998,143.880003 409.240003,144.346665 408.6,144.72 C407.959997,145.093335 407.26667,145.359999 406.52,145.52 C405.77333,145.680001 405.053337,145.76 404.36,145.76 C402.333323,145.76 400.61334,145.320004 399.2,144.44 C397.78666,143.559996 396.466673,142.426674 395.24,141.04 L388.84,147.04 C390.370075,148.776842 392.060451,150.096835 393.91116,151 L384.76,151 L384.76,143.6 C384.17333,144.026669 383.373338,144.333332 382.36,144.52 C381.346662,144.706668 380.413338,144.8 379.56,144.8 C377.426656,144.8 376.000004,144.240006 375.28,143.12 C374.559996,141.999994 374.2,140.48001 374.2,138.56 L374.2,121.76 L384.76,121.76 L384.76,113.6 L374.2,113.6 L374.2,102.48 L364.6,102.48 L364.6,113.6 L356.68,113.6 L356.68,121.76 L364.6,121.76 L364.6,139.36 C364.6,141.600011 364.773332,143.573325 365.12,145.28 C365.466668,146.986675 366.106662,148.413328 367.04,149.56 C367.484967,150.106674 368.008723,150.586673 368.611273,151 L343.373309,151 C345.967137,149.808094 348.32268,147.901444 350.44,145.28 L343.56,140.08 C342.333327,141.573341 340.906675,142.813328 339.28,143.8 C337.653325,144.786672 335.640012,145.28 333.24,145.28 C330.519986,145.28 328.20001,144.480008 326.28,142.88 C324.35999,141.279992 323.240002,139.040014 322.92,136.16 L352.2,136.16 L352.2,133.52 C352.2,130.159983 351.760004,127.18668 350.88,124.6 C349.999996,122.01332 348.773341,119.840009 347.2,118.08 C345.626659,116.319991 343.733344,114.973338 341.52,114.04 C339.306656,113.106662 336.86668,112.64 334.2,112.64 C331.319986,112.64 328.600013,113.119995 326.04,114.08 C323.479987,115.040005 321.266676,116.399991 319.4,118.16 C317.533324,119.920009 316.053339,122.039988 314.96,124.52 C313.866661,127.000012 313.32,129.759985 313.32,132.8 C313.32,135.840015 313.866661,138.599988 314.96,141.08 C316.053339,143.560012 317.533324,145.679991 319.4,147.44 C320.951773,148.9031 322.743093,150.089759 324.773998,151 L296.293336,151 C297.555557,150.235557 298.657773,149.328894 299.6,148.28 C301.01334,146.706659 302.079996,144.88001 302.8,142.8 C303.520004,140.71999 303.88,138.560011 303.88,136.32 L303.88,95.36 L293.8,95.36 L293.8,133.36 C293.8,136.77335 293.280005,139.453324 292.24,141.4 C291.199995,143.346676 289.240014,144.32 286.36,144.32 C284.599991,144.32 283.120006,143.760006 281.92,142.64 C280.719994,141.519994 279.960002,140.026676 279.64,138.16 L270.2,140.4 C271.106671,144.933356 272.986652,148.23999 275.84,150.32 C276.170026,150.56058 276.510933,150.787247 276.862719,151 L245.524122,151 L228.84,131.04 L245.32,113.6 L233,113.6 L218.2,129.52 L218.2,91.52 L208.6,91.52 L208.6,151 L197.675106,151 C198.293246,150.725103 198.908209,150.418437 199.52,150.08 C200.77334,149.386663 201.879995,148.560005 202.84,147.6 L196.44,140.72 C195.533329,141.893339 194.440006,142.786664 193.16,143.4 C191.879994,144.013336 190.493341,144.32 189,144.32 C187.239991,144.32 185.666674,144.000003 184.28,143.36 C182.893326,142.719997 181.706672,141.866672 180.72,140.8 C179.733328,139.733328 178.986669,138.506674 178.48,137.12 C177.973331,135.733326 177.72,134.293341 177.72,132.8 C177.72,131.306659 177.973331,129.866674 178.48,128.48 C178.986669,127.093326 179.733328,125.866672 180.72,124.8 C181.706672,123.733328 182.893326,122.880003 184.28,122.24 C185.666674,121.599997 187.239991,121.28 189,121.28 C190.280006,121.28 191.533327,121.626663 192.76,122.32 C193.986673,123.013337 195.159994,123.946661 196.28,125.12 L202.92,118.48 C201.053324,116.453323 198.880012,114.973338 196.4,114.04 C193.919988,113.106662 191.453346,112.64 189,112.64 C186.119986,112.64 183.400013,113.119995 180.84,114.08 C178.279987,115.040005 176.066676,116.399991 174.2,118.16 C172.333324,119.920009 170.853339,122.039988 169.76,124.52 C168.666661,127.000012 168.12,129.759985 168.12,132.8 C168.12,135.840015 168.666661,138.599988 169.76,141.08 C170.853339,143.560012 172.333324,145.679991 174.2,147.44 C175.751773,148.9031 177.543093,150.089759 179.573998,151 L159.72,151 L159.72,129.92 C159.72,129.013329 159.693334,127.960006 159.64,126.76 C159.586666,125.559994 159.413335,124.320006 159.12,123.04 C158.826665,121.759994 158.34667,120.49334 157.68,119.24 C157.01333,117.98666 156.066673,116.880005 154.84,115.92 C153.613327,114.959995 152.066676,114.173336 150.2,113.56 C148.333324,112.946664 146.040014,112.64 143.32,112.64 C140.279985,112.64 137.333348,113.119995 134.48,114.08 C131.626652,115.040005 129.133344,116.613322 127,118.8 L132.04,123.84 C133.320006,122.613327 134.839991,121.640004 136.6,120.92 C138.360009,120.199996 140.253323,119.84 142.28,119.84 C144.840013,119.84 146.946658,120.439994 148.6,121.64 C150.253342,122.840006 151.08,124.639988 151.08,127.04 L151.08,128.08 L148.68,128.08 C147.079992,128.08 145.373342,128.12 143.56,128.2 C141.746658,128.28 139.946676,128.466665 138.16,128.76 C136.373324,129.053335 134.653342,129.49333 133,130.08 C131.346658,130.66667 129.89334,131.453328 128.64,132.44 C127.38666,133.426672 126.38667,134.653326 125.64,136.12 C124.89333,137.586674 124.52,139.35999 124.52,141.44 C124.52,143.36001 124.919996,145.039993 125.72,146.48 C126.520004,147.920007 127.573327,149.119995 128.88,150.08 C129.337445,150.416082 129.817764,150.722748 130.320961,151 L116.04,151 L116.04,91.52 L106.44,91.52 L106.44,151 L84.4877789,151 C86.7144562,150.454703 88.7118474,149.628042 90.48,148.52 C92.48001,147.26666 94.0933272,145.613344 95.32,143.56 C96.5466728,141.506656 97.16,138.933349 97.16,135.84 C97.16,134.026658 96.8533364,132.333341 96.24,130.76 C95.6266636,129.186659 94.786672,127.800006 93.72,126.6 C92.653328,125.399994 91.3600076,124.413337 89.84,123.64 C88.3199924,122.866663 86.6800088,122.373334 84.92,122.16 L84.92,122 C87.853348,121.093329 90.2266576,119.60001 92.04,117.52 C93.8533424,115.43999 94.76,112.800016 94.76,109.6 C94.76,107.039987 94.2533384,104.853342 93.24,103.04 C92.2266616,101.226658 90.9066748,99.7466724 89.28,98.6 C87.6533252,97.4533276 85.8000104,96.6266692 83.72,96.12 C81.6399896,95.6133308 79.533344,95.36 77.4,95.36 L55.32,95.36 L55.32,151 L14,151 L14,63.52 L14,63.52 C14,57.9971525 18.4771525,53.52 24,53.52 L24,53.52 L548,53.52 C553.522847,53.52 558,57.9971525 558,63.52 L558,199 C558,204.522847 553.522847,209 548,209 L24,209 L24,209 C18.4771525,209 14,204.522847 14,199 L14,159 Z M146.486998,151 C148.208553,150.008147 149.659543,148.58149 150.84,146.72 L151.08,146.72 L151.08,151 L146.486998,151 Z M232.860408,151 L218.2,151 L218.2,132.4 L218.36,132.4 L232.860408,151 Z M65.4,118.4 L65.4,104 L73.72,104 C77.5600192,104 80.346658,104.599994 82.08,105.8 C83.813342,107.000006 84.68,108.826654 84.68,111.28 C84.68,113.413344 83.8400084,115.133327 82.16,116.44 C80.4799916,117.746673 77.9600168,118.4 74.6,118.4 L65.4,118.4 Z M65.4,143.36 L65.4,127.04 L75.08,127.04 C79.1866872,127.04 82.2133236,127.626661 84.16,128.8 C86.1066764,129.973339 87.08,132.053318 87.08,135.04 C87.08,136.906676 86.680004,138.386661 85.88,139.48 C85.079996,140.573339 84.0666728,141.41333 82.84,142 C81.6133272,142.58667 80.266674,142.959999 78.8,143.12 C77.333326,143.280001 75.9600064,143.36 74.68,143.36 L65.4,143.36 Z M150.52,134.8 L150.52,136.96 C150.52,139.680014 149.733341,141.826659 148.16,143.4 C146.586659,144.973341 144.146683,145.76 140.84,145.76 C140.039996,145.76 139.240004,145.666668 138.44,145.48 C137.639996,145.293332 136.920003,144.986669 136.28,144.56 C135.639997,144.133331 135.120002,143.613336 134.72,143 C134.319998,142.386664 134.12,141.626671 134.12,140.72 C134.12,139.333326 134.626662,138.253337 135.64,137.48 C136.653338,136.706663 137.893326,136.120002 139.36,135.72 C140.826674,135.319998 142.386658,135.066667 144.04,134.96 C145.693342,134.853333 147.18666,134.8 148.52,134.8 L150.52,134.8 Z M342.6,128.96 L322.92,128.96 C323.293335,126.186653 324.319992,123.973342 326,122.32 C327.680008,120.666658 329.959986,119.84 332.84,119.84 C335.880015,119.84 338.253325,120.653325 339.96,122.28 C341.666675,123.906675 342.546666,126.133319 342.6,128.96 Z" id="Combined-Shape"></path>
          </g>
      </g>
  </svg>

  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

      <!-- Links when logged in -->
      <% if current_user.jet_owner %>
      <%= link_to "Add a Flight", new_flight_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <% end %>
      <%= link_to "My Trips", "/pages/dashboard", class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Language", "#", class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Help", "#", class: "navbar-wagon-item navbar-wagon-link" %>

      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <% avatar_url = current_user.facebook_picture_url || "http://placehold.it/30x30" %>
          <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-home"></i>  <%= t(".profile", default: "Home") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>
</div>

