<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>


<svg width="136PX" height="50px" viewBox="0 0 604 64" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Artboard" transform="translate(-59.000000, -89.000000)" fill="#F4F4F4">
            <g id="飞机-(1)" transform="translate(59.000000, 89.000000)" fill-rule="nonzero">
                <path d="M145.853324,12.5138462 L111.384657,25.6320856 L67.9186132,2.18895664 C62.7628009,-0.154831697 62.5930842,-0.604535097 58.9651441,0.782570221 L43.4975664,6.67365641 C38.7001856,8.47247001 40.9824948,10.15744 48.3264701,18.1956757 L70.087778,41.3476033 L15.3858153,62.1558843 C20.8308215,62.9984402 53.9475256,65.5320623 61.4675503,62.6817197 L151.763574,28.3243516 C155.979696,26.6011587 158.063303,21.8058185 156.459775,17.5162237 C154.856248,13.2266289 150.150388,11.0071786 145.853324,12.5138462 Z M42.4789849,48.3724467 L24.0814727,38.7506086 C18.6364666,35.824134 16.523874,35.8367518 8.38141415,38.9405842 L0,42.152164 L15.8887734,58.5137404 L42.4791257,48.3788265 L42.4789849,48.3724467 Z" id="Shape"></path>
            </g>
            <text id="BLACKJETS" font-family="Avenir-Heavy, Avenir" font-size="80" font-weight="600">
                <tspan x="226" y="151">BLACKJETS</tspan>
            </text>
        </g>
    </g>
</svg>

  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

      <!-- Links when logged in -->
      <% if current_user.jet_owner %>
      <%= link_to "Add a Flight", new_flight_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <% end %>
      <%= link_to "My Trips", "/pages/dashboard", class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Language", "#", class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Help", "#", class: "navbar-wagon-item navbar-wagon-link" %>

      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <% avatar_url = current_user.facebook_picture_url || "http://placehold.it/30x30" %>
          <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-home"></i>  <%= t(".profile", default: "Home") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>
</div>

