<div class="navbar-wagon">
  <!-- Logo -->


  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <svg width="136px" height="50px" viewBox="0 0 580 213" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Artboard" transform="translate(-15.000000, -19.000000)" fill="#181818">
                <path d="M22.0681361,169 L451.511405,169 L447.833333,184.583259 L452.265625,184.34442 C452.265625,184.368304 453.559375,184.177232 454.014583,183.771205 L461.872917,171.375446 C462.519792,170.826116 462.591667,170.014062 463.645833,170.229018 C471.552083,171.877009 486.454167,171.542634 488.107292,171.63817 C489.760417,171.733705 489.185417,173.620536 489.185417,173.620536 L486.166667,188.428571 L474.498958,219 C480.248958,219 480.847917,218.092411 481.854167,216.754911 L513.239583,173.142857 C513.239583,173.142857 527.614583,171.972545 540.288542,171.972545 C546.158333,171.972545 559,169.154241 559,165.5 C559,161.845759 545.966667,159.027455 540.288542,159.027455 C528.261458,159.027455 513.239583,157.857143 513.239583,157.857143 L481.854167,114.245089 C480.65625,112.54933 480.009375,112 474.498958,112 L486.166667,142.571429 L489.185417,157.35558 C489.185417,157.35558 489.760417,159.242411 488.107292,159.337946 C486.454167,159.433482 471.552083,159.051339 463.645833,160.747098 C462.591667,160.962054 462.519792,160.15 461.872917,159.60067 L454.014583,147.204911 C453.559375,146.798884 452.265625,146.607812 452.265625,146.607812 L447.833333,146.368973 L451.286652,161 L414.637331,161 C415.121328,160.76859 415.588884,160.515257 416.04,160.24 C417.613341,159.279995 418.893328,158.013341 419.88,156.44 C420.866672,154.866659 421.36,152.933345 421.36,150.64 C421.36,148.133321 420.853338,146.160007 419.84,144.72 C418.826662,143.279993 417.546674,142.146671 416,141.32 C414.453326,140.493329 412.786676,139.880002 411,139.48 C409.213324,139.079998 407.546674,138.693335 406,138.32 C404.453326,137.946665 403.173338,137.493336 402.16,136.96 C401.146662,136.426664 400.64,135.573339 400.64,134.4 C400.64,132.959993 401.253327,131.920003 402.48,131.28 C403.706673,130.639997 404.959994,130.32 406.24,130.32 C409.386682,130.32 411.893324,131.626654 413.76,134.24 L420.16,128.48 C418.613326,126.346656 416.586679,124.840004 414.08,123.96 C411.573321,123.079996 409.040013,122.64 406.48,122.64 C404.55999,122.64 402.666676,122.879998 400.8,123.36 C398.933324,123.840002 397.280007,124.586662 395.84,125.6 C394.399993,126.613338 393.240004,127.906659 392.36,129.48 C391.479996,131.053341 391.04,132.906656 391.04,135.04 C391.04,137.493346 391.546662,139.413326 392.56,140.8 C393.573338,142.186674 394.853326,143.266663 396.4,144.04 C397.946674,144.813337 399.613324,145.373332 401.4,145.72 C403.186676,146.066668 404.853326,146.439998 406.4,146.84 C407.946674,147.240002 409.226662,147.759997 410.24,148.4 C411.253338,149.040003 411.76,150.02666 411.76,151.36 C411.76,152.10667 411.560002,152.759997 411.16,153.32 C410.759998,153.880003 410.240003,154.346665 409.6,154.72 C408.959997,155.093335 408.26667,155.359999 407.52,155.52 C406.77333,155.680001 406.053337,155.76 405.36,155.76 C403.333323,155.76 401.61334,155.320004 400.2,154.44 C398.78666,153.559996 397.466673,152.426674 396.24,151.04 L389.84,157.04 C391.370075,158.776842 393.060451,160.096835 394.91116,161 L385.76,161 L385.76,153.6 C385.17333,154.026669 384.373338,154.333332 383.36,154.52 C382.346662,154.706668 381.413338,154.8 380.56,154.8 C378.426656,154.8 377.000004,154.240006 376.28,153.12 C375.559996,151.999994 375.2,150.48001 375.2,148.56 L375.2,131.76 L385.76,131.76 L385.76,123.6 L375.2,123.6 L375.2,112.48 L365.6,112.48 L365.6,123.6 L357.68,123.6 L357.68,131.76 L365.6,131.76 L365.6,149.36 C365.6,151.600011 365.773332,153.573325 366.12,155.28 C366.466668,156.986675 367.106662,158.413328 368.04,159.56 C368.484967,160.106674 369.008723,160.586673 369.611273,161 L344.373309,161 C346.967137,159.808094 349.32268,157.901444 351.44,155.28 L344.56,150.08 C343.333327,151.573341 341.906675,152.813328 340.28,153.8 C338.653325,154.786672 336.640012,155.28 334.24,155.28 C331.519986,155.28 329.20001,154.480008 327.28,152.88 C325.35999,151.279992 324.240002,149.040014 323.92,146.16 L353.2,146.16 L353.2,143.52 C353.2,140.159983 352.760004,137.18668 351.88,134.6 C350.999996,132.01332 349.773341,129.840009 348.2,128.08 C346.626659,126.319991 344.733344,124.973338 342.52,124.04 C340.306656,123.106662 337.86668,122.64 335.2,122.64 C332.319986,122.64 329.600013,123.119995 327.04,124.08 C324.479987,125.040005 322.266676,126.399991 320.4,128.16 C318.533324,129.920009 317.053339,132.039988 315.96,134.52 C314.866661,137.000012 314.32,139.759985 314.32,142.8 C314.32,145.840015 314.866661,148.599988 315.96,151.08 C317.053339,153.560012 318.533324,155.679991 320.4,157.44 C321.951773,158.9031 323.743093,160.089759 325.773998,161 L297.293336,161 C298.555557,160.235557 299.657773,159.328894 300.6,158.28 C302.01334,156.706659 303.079996,154.88001 303.8,152.8 C304.520004,150.71999 304.88,148.560011 304.88,146.32 L304.88,105.36 L294.8,105.36 L294.8,143.36 C294.8,146.77335 294.280005,149.453324 293.24,151.4 C292.199995,153.346676 290.240014,154.32 287.36,154.32 C285.599991,154.32 284.120006,153.760006 282.92,152.64 C281.719994,151.519994 280.960002,150.026676 280.64,148.16 L271.2,150.4 C272.106671,154.933356 273.986652,158.23999 276.84,160.32 C277.170026,160.56058 277.510933,160.787247 277.862719,161 L246.524122,161 L229.84,141.04 L246.32,123.6 L234,123.6 L219.2,139.52 L219.2,101.52 L209.6,101.52 L209.6,161 L198.675106,161 C199.293246,160.725103 199.908209,160.418437 200.52,160.08 C201.77334,159.386663 202.879995,158.560005 203.84,157.6 L197.44,150.72 C196.533329,151.893339 195.440006,152.786664 194.16,153.4 C192.879994,154.013336 191.493341,154.32 190,154.32 C188.239991,154.32 186.666674,154.000003 185.28,153.36 C183.893326,152.719997 182.706672,151.866672 181.72,150.8 C180.733328,149.733328 179.986669,148.506674 179.48,147.12 C178.973331,145.733326 178.72,144.293341 178.72,142.8 C178.72,141.306659 178.973331,139.866674 179.48,138.48 C179.986669,137.093326 180.733328,135.866672 181.72,134.8 C182.706672,133.733328 183.893326,132.880003 185.28,132.24 C186.666674,131.599997 188.239991,131.28 190,131.28 C191.280006,131.28 192.533327,131.626663 193.76,132.32 C194.986673,133.013337 196.159994,133.946661 197.28,135.12 L203.92,128.48 C202.053324,126.453323 199.880012,124.973338 197.4,124.04 C194.919988,123.106662 192.453346,122.64 190,122.64 C187.119986,122.64 184.400013,123.119995 181.84,124.08 C179.279987,125.040005 177.066676,126.399991 175.2,128.16 C173.333324,129.920009 171.853339,132.039988 170.76,134.52 C169.666661,137.000012 169.12,139.759985 169.12,142.8 C169.12,145.840015 169.666661,148.599988 170.76,151.08 C171.853339,153.560012 173.333324,155.679991 175.2,157.44 C176.751773,158.9031 178.543093,160.089759 180.573998,161 L160.72,161 L160.72,139.92 C160.72,139.013329 160.693334,137.960006 160.64,136.76 C160.586666,135.559994 160.413335,134.320006 160.12,133.04 C159.826665,131.759994 159.34667,130.49334 158.68,129.24 C158.01333,127.98666 157.066673,126.880005 155.84,125.92 C154.613327,124.959995 153.066676,124.173336 151.2,123.56 C149.333324,122.946664 147.040014,122.64 144.32,122.64 C141.279985,122.64 138.333348,123.119995 135.48,124.08 C132.626652,125.040005 130.133344,126.613322 128,128.8 L133.04,133.84 C134.320006,132.613327 135.839991,131.640004 137.6,130.92 C139.360009,130.199996 141.253323,129.84 143.28,129.84 C145.840013,129.84 147.946658,130.439994 149.6,131.64 C151.253342,132.840006 152.08,134.639988 152.08,137.04 L152.08,138.08 L149.68,138.08 C148.079992,138.08 146.373342,138.12 144.56,138.2 C142.746658,138.28 140.946676,138.466665 139.16,138.76 C137.373324,139.053335 135.653342,139.49333 134,140.08 C132.346658,140.66667 130.89334,141.453328 129.64,142.44 C128.38666,143.426672 127.38667,144.653326 126.64,146.12 C125.89333,147.586674 125.52,149.35999 125.52,151.44 C125.52,153.36001 125.919996,155.039993 126.72,156.48 C127.520004,157.920007 128.573327,159.119995 129.88,160.08 C130.337445,160.416082 130.817764,160.722748 131.320961,161 L117.04,161 L117.04,101.52 L107.44,101.52 L107.44,161 L85.4877789,161 C87.7144562,160.454703 89.7118474,159.628042 91.48,158.52 C93.48001,157.26666 95.0933272,155.613344 96.32,153.56 C97.5466728,151.506656 98.16,148.933349 98.16,145.84 C98.16,144.026658 97.8533364,142.333341 97.24,140.76 C96.6266636,139.186659 95.786672,137.800006 94.72,136.6 C93.653328,135.399994 92.3600076,134.413337 90.84,133.64 C89.3199924,132.866663 87.6800088,132.373334 85.92,132.16 L85.92,132 C88.853348,131.093329 91.2266576,129.60001 93.04,127.52 C94.8533424,125.43999 95.76,122.800016 95.76,119.6 C95.76,117.039987 95.2533384,114.853342 94.24,113.04 C93.2266616,111.226658 91.9066748,109.746672 90.28,108.6 C88.6533252,107.453328 86.8000104,106.626669 84.72,106.12 C82.6399896,105.613331 80.533344,105.36 78.4,105.36 L56.32,105.36 L56.32,161 L19.2697259,161 C16.4928878,151.821308 15,142.084995 15,132 L15,119 L15,119 C15,63.771525 59.771525,19 115,19 L115,19 L495,19 C550.228475,19 595,63.771525 595,119 L595,132 C595,187.228475 550.228475,232 495,232 L115,232 C72.8421777,232 36.7774127,205.91252 22.0681454,169.000001 Z M147.486998,161 C149.208553,160.008147 150.659543,158.58149 151.84,156.72 L152.08,156.72 L152.08,161 L147.486998,161 Z M233.860408,161 L219.2,161 L219.2,142.4 L219.36,142.4 L233.860408,161 Z M66.4,128.4 L66.4,114 L74.72,114 C78.5600192,114 81.346658,114.599994 83.08,115.8 C84.813342,117.000006 85.68,118.826654 85.68,121.28 C85.68,123.413344 84.8400084,125.133327 83.16,126.44 C81.4799916,127.746673 78.9600168,128.4 75.6,128.4 L66.4,128.4 Z M66.4,153.36 L66.4,137.04 L76.08,137.04 C80.1866872,137.04 83.2133236,137.626661 85.16,138.8 C87.1066764,139.973339 88.08,142.053318 88.08,145.04 C88.08,146.906676 87.680004,148.386661 86.88,149.48 C86.079996,150.573339 85.0666728,151.41333 83.84,152 C82.6133272,152.58667 81.266674,152.959999 79.8,153.12 C78.333326,153.280001 76.9600064,153.36 75.68,153.36 L66.4,153.36 Z M151.52,144.8 L151.52,146.96 C151.52,149.680014 150.733341,151.826659 149.16,153.4 C147.586659,154.973341 145.146683,155.76 141.84,155.76 C141.039996,155.76 140.240004,155.666668 139.44,155.48 C138.639996,155.293332 137.920003,154.986669 137.28,154.56 C136.639997,154.133331 136.120002,153.613336 135.72,153 C135.319998,152.386664 135.12,151.626671 135.12,150.72 C135.12,149.333326 135.626662,148.253337 136.64,147.48 C137.653338,146.706663 138.893326,146.120002 140.36,145.72 C141.826674,145.319998 143.386658,145.066667 145.04,144.96 C146.693342,144.853333 148.18666,144.8 149.52,144.8 L151.52,144.8 Z M343.6,138.96 L323.92,138.96 C324.293335,136.186653 325.319992,133.973342 327,132.32 C328.680008,130.666658 330.959986,129.84 333.84,129.84 C336.880015,129.84 339.253325,130.653325 340.96,132.28 C342.666675,133.906675 343.546666,136.133319 343.6,138.96 Z" id="Combined-Shape"></path>
            </g>
        </g>
    </svg>

  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

      <!-- Links when logged in -->
      <%= link_to "My Trips", "#", class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Language", "#", class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Help", "#", class: "navbar-wagon-item navbar-wagon-link" %>

      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <% avatar_url = current_user.facebook_picture_url || "http://placehold.it/30x30" %>
          <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-home"></i>  <%= t(".profile", default: "Home") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>
</div>

